@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide number input arrows */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none;
  margin: 0;
}
